<table id="example2" class="table table-bordered table-striped">
  <thead>
    <tr>
      <strong>
        Catatan: <br />
        Setelah diterim, formulir ini harap segera dikembalikan. <br />
        Untuk dokumen yang direvisi, formulir ini harap dikembalikan bersama
        dengan dokumen KADALUWARSA untuk dimusnahkan.
      </strong>
    </tr>
  </thead>
  <tbody></tbody>
</table>
